@use '../base/variables' as *;

.collapse {
  border-radius: 5px;
  overflow: hidden;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 20px;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    cursor: pointer;
    border-radius: 5px;

    @media (max-width: $mobile) {
        height: 30px;
        padding: 0 15px;
    }

  }

  &__title {
    color: $background-white;
    font-size: 24px;
    font-weight: 700;
    text-align: left;

    @media (max-width: $mobile) { font-size: 13px; }
  }

  &__icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-image: url('../../assets/arrow-up.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform $anim-duration ease;

    @media (max-width: $mobile) {        
        width: 16px;
        height: 16px;
    }
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height $anim-duration ease;
    background-color: $background-color;
    border-radius: 0 0 5px 5px;
  }

  &__content {
    padding: 25px 20px;
    font-size: 18px;
    font-weight: 400;

    @media (max-width: $mobile) { font-size: 12px; }
  }

  &--open {
    .collapse__header { border-radius: 5px 5px 0 0; }
    .collapse__icon { transform: rotate(-180deg); }
    // problème effet de transition ouverture, car max-height ne s'adapte pas au contenu
    // => max-height dynamique en JS. 
    // .collapse__body { max-height: 1000px; }
  }
}