@use '../base/variables' as *;

.host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  &__name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.35;

    @media (max-width: $mobile) {
      font-size: 12px;
    }
  }

  &__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    background-color: $background-color;

    @media (max-width: $mobile) {
      width: 33px;
      height: 33px;
    }
  }
}
