@use '../base/variables' as *;

.home__gallery {
  margin: 43px 0;

  @media (max-width: $mobile) {
    margin: 30px 0;
  }
}

.home__error{
  color: $primary-color;
  background-color: $background-color;
  border-radius: 25px;
  padding: 55px;
  text-align: center;
  font-size: 24px;

  @media (max-width: $mobile) {
    padding: 20px 0 0 0;
    font-size: 16px;
    background-color: transparent;
  }
}

.home__list {
  list-style: none;
  background-color: $background-color;
  border-radius: 25px;
  padding: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(20px, 3vw, 55px);

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    padding: 0;
    background-color: transparent;
  }
}
