@use 'variables' as *;

body {
  font-family: $font-family;
  background-color: $background-white;
  color: $text-color;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

main {
  flex: 1;
  width: 100%;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  transition: padding $anim-duration ease-in-out;

  @media (max-width: $mobile) {
    padding: 0 $container-padding-mobile;
  }
}

.newline-mobile {
  display: inline;

  @media (max-width: $mobile) {
    display: block;
  }
}

//screens readers only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}