$primary-color: #FF6060;
$background-color: #F6F6F6;
$text-color: #000000;
$background-white: #FFFFFF;
$font-family: 'Montserrat', sans-serif;

// Layout
$max-width: 1440px;
$container-padding: 100px;
$container-padding-mobile: 20px;

// Breakpoints
$tablet: 1024px;
$mobile: 768px;
$mobile-very-small: 350px;

// Animations
$anim-duration: 0.3s;
$sliding-duration: 0.4s;